 body {
      max-width: 800px;
      margin: auto;
      margin: 10em;
      padding: 20px;
      font-family: Arial, sans-serif;
      background-color: rgb(103, 214, 248)
      
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
        color: rgb(45, 21, 255); 
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
    }

    button {
      margin-top: 20px;
      padding: 10px 15px;
    }